.prose li,
.prose p,
.prose img
 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.prose li:has( > img),
.prose p:has( > img)
 {
    width: 50%;
    max-width: 200px;
    margin: 16px 0;
}

.prose li img,
.prose p img
 {
    border-radius: 8px;
}

.text__word-wrap {
    word-wrap: break-word;
    overflow-wrap: anywhere;
}


.prose ul{
    list-style: disc;
    margin-left: 2em;
}

.prose h1{
    font-size: 26px;
    font-weight: 600;
    margin: 1em 0 0;
}

.prose h2{
    font-size: 22px;
    font-weight: 600;
    margin: 1em 0 0;
}

.prose h3{
    font-size: 18px;
    font-weight: 600;
    margin: 1em 0 0;
}


.prose hr{
    margin: 2em 0;
    border-top-width: 0.1px;
    opacity: .7;
}

